/****
 *  CSDEV.CSS
 *  VERSION 5.0 4 JANUARY 2020
 *  Non Bootstrap items
 *  CAN OVERRIDE BOOTSTRAP IF LOADED AFTER THAT!
 */
/***
 *  Dark settings
 */
/*--------------------------------------------*/
/* CRITICAL CHANGES
/* CHANGES OVERALL: FORM, INPUT, PAGINATION
/*--------------------------------------------*/
html, body {
  height: 100% !important;
  padding-top: 30px !important;
  margin: 0 !important;
  font-family: "Nunito Sans", "Roboto", sans-serif !important;
  /* set accordingly for dark background */
  background-color: #343a40 !important;
}

/* very important AUTO COMPLETE COLOR TRANSPARENT */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
}

@keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}
@-webkit-keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}
/* underlined form control */
.form-control:not(.btn), .form-control:not(.btn):focus, select.form-control:not(.btn):focus {
  color: #fff !important;
  background-color: #343a40 !important;
  /* must agree with the background color*/
  border: none !important;
  border-bottom: 1px solid #fff !important;
}

/* 5/1/20 added not button to avoid strange things */
.form-control:focus:not(.btn), select.form-control:focus:not(.btn) {
  border-bottom: 1px solid gold !important;
  box-shadow: none !important;
  outline: 0 !important;
}

/* 5/1/20 app button improvements */
.btn-app {
  background-color: #fff !important;
  color: #343a40 !important;
  border-radius: 30px !important;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 11px !important;
  font-weight: 500 !important;
  border: none !important;
  border-radius: 45px !important;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1) !important;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn-app:hover {
  background-color: #343a40 !important;
  color: #fff !important;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4) !important;
  transform: translateY(-7px) !important;
}

/* circled page numbers */
.pagination > li > a, .pagination > li > span {
  border-radius: 50% !important;
  margin: 0 5px !important;
}

/**
 * carrousel fixes
 */
.carousel-item img {
  width: auto;
  height: 225px;
  max-height: 225px;
  margin: 0 auto;
}

.carousel-caption {
  position: initial !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: black !important;
}

/*--------------------------------------------*/
/* SPECIAL PAGES STYLING/BACKGROUNDS
/*--------------------------------------------*/
/* MAIN SCREEN COVER STYLE */
.bg-cover {
  background-image: url("/admin/assets/images/bg-cover-02.webp");
  background-size: cover;
}

/* LOGIN FORM BACKGROUND */
/*--------------------------------------------*
/*  SEMANTIC SPECIAL VIEW RELATED STYLES
/*  LIST,VIEW,EDIT
/*--------------------------------------------*/
/**
 *  Topbar
 */
.cs-topbar {
  background-color: #152F4F !important;
}

/**
 *  Footer
 */
.cs-footer {
  background-color: #152F4F !important;
}

/**
 * LIST RECORDS VIEW RELATED STYLES
 * Header, filter, paginator, table, buttons, anchors
 */
.cs-list-header {
  background-color: #343a40 !important;
  color: #fff !important;
  /* text-white */
  border-color: #606060 !important;
}

.cs-list-header h1, .cs-list-header h2,
.cs-list-header h3, .cs-list-header h4,
.cs-list-header h5, .cs-list-header h6 {
  font-weight: bolder;
  color: lightgoldenrodyellow !important;
}

.cs-list-filter {
  background-color: #343a40 !important;
  color: #fff !important;
  border-color: #606060 !important;
  margin-top: 3px;
}

.cs-list-paginator {
  background-color: #343a40 !important;
  display: flex;
  justify-content: center;
  border: 1px solid #606060 !important;
  margin-top: 3px;
}

.cs-list-table {
  /* table-dark, table-striped */
  background-color: #343a40 !important;
  color: #fff !important;
  border: 1px solid #606060 !important;
  margin-top: 3px;
}

.cs-list-table > tbody > tr:nth-child(odd) > td,
.cs-list-table > tbody > tr:nth-child(odd) > th {
  background-color: #181818;
}

/* BUTTON IN A LIST HEADER */
.cs-list-btn {
  /* btn-dark */
  background-color: #343a40 !important;
  color: #fff !important;
  border-color: #fff !important;
  /* $bg_color !important */
  margin-bottom: 2px;
}

/* LINK IN A BUTTON IN A LIST HEADER */
a.cs-list-btn, a:visited.cs-list-btn {
  color: #fff !important;
}

a:hover.cs-list-btn {
  color: gold !important;
}

/**
 * EDIT RECORD VIEW RELATED STYLES
 * Header, Tabs
 */
.cs-edit-header {
  background-color: #343a40 !important;
  color: #fff !important;
}

/**
 * VIEW RECORD VIEW RELATED STYLES
 * Header, Tabs
 */
/* HEADER PANEL IN VIEW MODE */
.cs-view-header {
  background-color: #343a40 !important;
  color: #fff !important;
  /* text-white */
  border-bottom-color: aqua;
}

/**
 * TABS RELATED SETTINGS: anchors colors
 * View, Edit
 */
/* LINKS IN PARAGRAPH */
.cs-view-tabs a, .cs-view-tabs a:visited,
.cs-edit-tabs a, .cs-edit-tabs a:visited,
.cs-edit-header p a, .cs-edit-header p a:visited,
.cs-view-header p a, .cs-view-header p a:visited {
  color: gold !important;
}

.cs-view-tabs a:hover, .cs-view-tabs a:active,
.cs-edit-tabs a:hover, .cs-edit-tabs a:active,
.cs-edit-header p a:hover, .cs-edit-header p a:active,
.cs-view-header p a:hover, .cs-view-header p a:active {
  color: gold !important;
}

/* tabs en general */
.cs-view-tabs, .cs-edit-tabs {
  color: #fff !important;
  background-color: #343a40 !important;
  border-color: #fff !important;
  /* $bg_color !important */
}

/* tab normal, sin seleccionar*/
.cs-view-tabs .nav-item .nav-link,
.cs-edit-tabs .nav-item .nav-link {
  color: #fff !important;
}

/* tab seleccionado */
.cs-view-tabs .nav-item .nav-link.active,
.cs-edit-tabs .nav-item .nav-link.active {
  color: gold !important;
  background-color: #343a40 !important;
  border-color: #dee2e6 #dee2e6 #fff !important;
}

/**
 * BODY of the view & edit cards
 * View, Edit
 */
.cs-view-body, .cs-edit-body {
  color: #fff !important;
  background-color: #343a40 !important;
  border-color: #fff !important;
  /* $bg_color !important */
}

/*--------------------------------------------*
/* BUTTONS
/*
/*--------------------------------------------*/
/* SMALL BUTTON */
.action-button4 {
  width: 66px;
  margin-right: 2px !important;
  flex: none !important;
}

/* MEDIUM BUTTON */
.action-button3 {
  width: 120px;
  margin-right: 2px !important;
  flex: none !important;
}

/* BIG BUTTON */
.action-button-big {
  width: 160px;
  margin-right: 2px !important;
  flex: none !important;
  background-color: #BF3A2F;
  color: white;
}

/*--------------------------------------------*
/* PLACEHOLDER
/*
/*--------------------------------------------*/
.form-control::-webkit-input-placeholder, .form-control:focus:not(.btn)::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #4aacc6;
  line-height: 1.1;
  font-size: 75%;
}

.form-control::-moz-placeholder, .form-control:focus:not(.btn)::-moz-placeholder {
  /* Firefox 19+ */
  color: #4aacc6;
  line-height: 1.1;
  font-size: 75%;
}

.form-control:-ms-input-placeholder, .form-control:-ms-input-placeholder:focus:not(.btn) {
  /* IE 10+ */
  color: #4aacc6;
  line-height: 1.1;
  font-size: 75%;
}

.form-control:-moz-placeholder, .form-control:-moz-placeholder:focus:not(.btn) {
  /* Firefox 18- */
  color: #4aacc6;
  line-height: 1.1;
  font-size: 75%;
}

/*--------------------------------------------*
/*  SPINNER/LOADER
/*
/*--------------------------------------------*/
/* https://codepen.io/MattIn4D/pen/LiKFC */
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*--------------------------------------------*/
/* APPLICATION SPECIFICS
/* SEMANTICS
/*--------------------------------------------*/
.Inactivo {
  background-color: red;
  color: white;
}

.Activo {
  background-color: green;
  color: white;
}

/*# sourceMappingURL=csdev.css.map */
